body{
    padding: 10px;
    background: #ffffff;
    color: #444;
}
h1,h2 {
    color: #00b7ff;
}
h1,h2,p,.checkbox {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 450px;
}
hr {
    width:60%;
    max-width: 450px;
}
input {
    width: 90px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0.7em 0;
    padding: .8em;
    border-radius: 2em;
    border: 2px solid #aaa;
}

#generation-password {
    color: #00b7ff;
    font-size: 50px;
    margin: 50px auto;
    overflow-wrap: break-word;
}
.gene-btn {
    margin: 50px auto;
    width: auto;
    height: auto;
    max-width: 350px;
    border: 0px solid #aaa;
    text-align: center;
    color: #fff;
    padding:  40px 0;
    box-sizing: border-box;
    font-size: 50px;
    border-radius: 20px;
    background: #00b7ff;
}
.gene-btn:hover {
    cursor: pointer;
    background: #0081b4;
}
.copy-btn {
    margin: 10px auto;
    width: auto;
    height: auto;
    padding: .5em;
    max-width: 125px;
    border: 2px solid #aaa;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}
.copy-btn:hover {
    cursor: pointer;
    background-color: #eee;
}

/* ラジオボタン */
.radiobox {
    margin: 1.5em;
    padding: 1em;
    content: attr(data-title)
}
.radiobutton {
    display: none;
}
label {
    background-color: #eee;
    margin: 10px;
    padding: 15px 20px;
    border: 0px solid #aaa;
    border-radius: 10px;
}
.radiobutton:checked + label {
    background-color: #00b7ff;
    color: #fff;
}
.radiobutton:disabled + label{
    background-color: #eee;
    color: #fff;
}

/* スマホ用設定 */
@media screen and (max-width: 420px){
    h1 {
        font-size: 8vw;
    }
    h2 {
        margin: 30px auto auto 0;
    }
    input {
        margin: 0.7em 0;
    }
    #generation-password {
        font-size: 13vw;
        margin: 0px;
    }
    .gene-btn {
        font-size: 10vw;
        width: 75%;
        padding: 20px;
        margin: 10px auto;
    }
    /* TODO:要修正 */
    .radiobox {
        display: flex;
        flex-flow: column;
    }
    label {
        margin: 4px;
    }
}